body {
   font: 24px Helvetica;
   background: #999999;
   color:rgba(0,0,0,.25);
}

#kanban-container {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}