/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  background-color: RGB(102, 102, 102);
  font-family: Quicksand, monospace;
  align-content: center; }

.kantainer {
  display: flex;
  text-align: center;
  flex-flow: row-nowrap;
  align-content: center;
  justify-content: center;
  width: 100%; }

h1 {
  display: flex;
  color: white;
  font-size: 32px;
  text-align: center;
  margin-left: 36%;
  margin-right: 35%;
  width: 30%;
  margin-bottom: 2%;
  margin-top: 1%;
  font-weight: bold;
  text-shadow: 2px 2px 5px black; }

.todo {
  flex: 1 1 30%;
  background-color: RGB(242, 233, 194);
  border: 1px solid black;
  padding: 5%;
  line-height: 130%;
  margin: 2%;
  box-shadow: 0 8px 6px -6px black; }

.doing {
  flex: 1 1 30%;
  background-color: RGB(112, 171, 75);
  border: 1px solid black;
  padding: 5%;
  line-height: 130%;
  margin: 2%;
  box-shadow: 0 8px 6px -6px black; }

.done {
  flex: 1 1 30%;
  background-color: RGB(76, 153, 212);
  border: 1px solid black;
  padding: 5%;
  line-height: 130%;
  margin: 2%;
  box-shadow: 0 8px 6px -6px black; }

  /*----------  NEW CARD FORM  ----------*/

  .newForm {
    display: block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .textInput, .selectInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submitButton {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submitButton:hover {
    background-color: #45a049;
  }
